.quicksettings-window {
    min-width: 300px;
    min-height: 100px;
    border-radius: 8px;
    background-color: transparent;
}

.quicksettings-content {
    padding: 10px;
    border-radius: 8px;
    background-color: $background;
    // background-color: rgba($background, 0.2);
}