@import "colors.scss";
@import "widgets/bar.scss";

.corner {
    // color: $background;
    background-color: transparent;
}

* {
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.90rem;
    color: $on_background;
}